
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 200px;
    margin-bottom: 30px;
}

.outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
}

.toprow{
    width: 500px !important;
    position: absolute !important;
    z-index: 10 !important;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width:900px) {
    .toprow{
        width: 90% !important;
        top: 20%;
    }
}


@media screen and (max-width:700px) {
    .toprow{
        top: 15%;
    }
}

@media screen and (max-width:400px) {
    .toprow{
        top: 10%;
    }
}

